.flex {
  display: flex;
  text-align: center;
  width: 80%;
  margin: auto;
  border-bottom: 1px solid rgb(156, 146, 146);
  margin-bottom: 20px;
  padding-bottom: 5px;
}

.container {
  width: 50%;
  margin: auto;
  background: rgb(214, 209, 209);
  text-align: center;
}
.input_box {
  flex-basis: 80%;
  margin: 1%;
  height: 30px;
  border-radius: 5px;
}
.add_btn,
.btn {
  flex-basis: 15%;
  background: green;
  border: none;
  margin: 1%;
  border-radius: 5px;
  color: #fff;
}
.todo_title {
  flex-basis: 70%;
  background: #fff;
  margin: 0;
  padding: 0;
  border-radius: 5px;
}
.delete {
  background: tomato;
}
.btn {
  height: 30px;
}
.panding {
  background: rgb(230, 190, 17);
}
.todoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
